@use '@styles/constants/breakpoints.scss' as breakpoints;

.root {
  h3 {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgb(25, 0, 48);
    margin-bottom: 20px;
  }

  .colName {
    text-align: left;
  }
}
