@use '../../styles/constants/breakpoints.scss' as breakpoints;

.root {
  min-height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  max-width: 1920px;
  align-self: center;
}

@media (min-width: breakpoints.$md-min) {
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
}
