.root {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;

  img {
    height: 70px;
    margin: 0 20px;
  }
}

.homeTeam,
.awayTeam {
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.teamName {
  display: flex;
  align-items: center;
  margin: 20px;
}

.score {
  padding: 50px;
  font-size: xxx-large;
}

.separator {
  position: absolute;
  left: 50%;
  font-size: xxx-large;
  color: #ffffff;
  font-weight: 900;

  & > * {
    position: relative;
    left: -50%;
  }

  .separatorFinal {
    font-size: small;
    font-weight: normal;
    background: #000000;
    padding: 7px 20px;
  }
}
