.root {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 40px;
  font-size: 24px;
  font-weight: 900;

  img {
    height: 70px;
    margin: 0 20px;
  }
}

.homeTeam,
.awayTeam {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
